vibe-coding=💻 Vibe-Coding
мото=🏍️ Мото
youtube=📺 YouTube
shorts=📱 Shorts
видеография=🎬 Видеография
спортзал=💪 Спортзал
монтаж=✂️ Монтаж
музыка=🎵 Музыка
игры=🎮 Игры
overwatch=🔫 Overwatch
работа=💼 Работа
друзья=👥 Друзья
фотография=📷 Фотография
counter-strike=🎯 Counter-Strike
dota=⚔️ Dota
стихи=📝 Стихи
электронная музыка=🎧 Электронная музыка
звукозапись=🎙️ Звукозапись
гитара=🎸 Гитара
пение=🎤 Пение
